### Import Packages

In [1]:
!pip install pandas-profiling
from pandas_profiling import ProfileReport
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
import seaborn as sns
import time
import sys

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas-profiling in c:\users\rog\appdata\roaming\python\python311\site-packages (3.2.0)
Requirement already satisfied: joblib~=1.1.0 in c:\users\rog\appdata\roaming\python\python311\site-packages (from pandas-profiling) (1.1.1)
Requirement already satisfied: scipy>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (1.10.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (1.5.3)
Requirement already satisfied: matplotlib>=3.2.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (3.7.1)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\rog\appdata\roaming\python\python311\site-packages (from pandas-profiling) (1.10.12)
Requirement already satisfied: PyYAML>=5.0.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: jinja2>=2.11.1 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (3.1.2)
Requirement already satisfied: markupsafe~=2.1.1 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (2.1.1)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\rog\appdata\roaming\python\python311\site-packages (from pandas-profiling) (0.7.4)
Requirement already satisfied: numpy>=1.16.0 in c:\users\rog\appdata\roaming\python\python311\site-packages (from pandas-profiling) (1.23.5)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\rog\appdata\roaming\python\python311\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in c:\users\rog\appdata\roaming\python\python311\site-packages (from pandas-profiling) (0.5.2)
Requirement already satisfied: phik>=0.11.1 in c:\users\rog\appdata\roaming\python\python311\site-packages (from pandas-profiling) (0.12.3)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in c:\users\rog\appdata\roaming\python\python311\site-packages (from pandas-profiling) (0.2.0)
Requirement already satisfied: requests>=2.24.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (2.31.0)
Requirement already satisfied: tqdm>=4.48.2 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (4.65.0)
Requirement already satisfied: seaborn>=0.10.1 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (0.12.2)
Requirement already satisfied: multimethod>=1.4 in c:\users\rog\appdata\roaming\python\python311\site-packages (from pandas-profiling) (1.9.1)
Requirement already satisfied: attrs>=19.3.0 in c:\programdata\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (22.1.0)
Requirement already satisfied: networkx>=2.4 in c:\programdata\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (3.1)
Requirement already satisfied: imagehash in c:\users\rog\appdata\roaming\python\python311\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (4.3.1)
Requirement already satisfied: Pillow in c:\programdata\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2022.7)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\programdata\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (4.7.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2023.7.22)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>=4.48.2->pandas-profiling) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas-profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\programdata\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling) (1.4.1)

C:\ProgramData\anaconda3\Lib\site-packages\numba\core\decorators.py:262: NumbaDeprecationWarning: numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.
  warnings.warn(msg, NumbaDeprecationWarning)
C:\Users\ROG\AppData\Roaming\Python\Python311\site-packages\visions\backends\shared\nan_handling.py:50: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @nb.jit
C:\Users\ROG\AppData\Local\Temp\ipykernel_9104\1000861643.py:2: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

### EDA

In [2]:
# Load the CSV File
df = pd.read_csv("Smoking_Drinking_CSV.csv")
df

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1,1,120,...,126,92,17.1,1,1.0,21,35,40,1,Y
1,Male,30,180,80,89.0,0.9,1.2,1,1,130,...,148,121,15.8,1,0.9,20,36,27,3,N
2,Male,40,165,75,91.0,1.2,1.5,1,1,120,...,74,104,15.8,1,0.9,47,32,68,1,N
3,Male,50,175,80,91.0,1.5,1.2,1,1,145,...,104,106,17.6,1,1.1,29,34,18,1,N
4,Male,50,165,60,80.0,1.0,1.2,1,1,138,...,117,104,13.8,1,0.8,19,12,25,1,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991341,Male,45,175,80,92.1,1.5,1.5,1,1,114,...,125,132,15.0,1,1.0,26,36,27,1,N
991342,Male,35,170,75,86.0,1.0,1.5,1,1,119,...,84,45,15.8,1,1.1,14,17,15,1,N
991343,Female,40,155,50,68.0,1.0,0.7,1,1,110,...,77,157,14.3,1,0.8,30,27,17,3,Y
991344,Male,25,175,60,72.0,1.5,1.0,1,1,119,...,73,53,14.5,1,0.8,21,14,17,1,N
991345,Male,50,160,70,90.5,1.0,1.5,1,1,133,...,153,163,15.8,1,0.9,24,43,36,3,Y

In [3]:
# Display Basic Info about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991346 entries, 0 to 991345
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   sex               991346 non-null  object
 1   age               991346 non-null  int64
 2   height            991346 non-null  int64
 3   weight            991346 non-null  int64
 4   waistline         991346 non-null  float64
 5   sight_left        991346 non-null  float64
 6   sight_right       991346 non-null  float64
 7   hear_left         991346 non-null  int64
 8   hear_right        991346 non-null  int64
 9   SBP               991346 non-null  int64
 10  DBP               991346 non-null  int64
 11  BLDS              991346 non-null  int64
 12  tot_chole         991346 non-null  int64
 13  HDL_chole         991346 non-null  int64
 14  LDL_chole         991346 non-null  int64
 15  triglyceride      991346 non-null  int64
 16  hemoglobin        991346 non-null  float64
 17  urine_protein     991346 non-null  int64
 18  serum_creatinine  991346 non-null  float64
 19  SGOT_AST          991346 non-null  int64
 20  SGOT_ALT          991346 non-null  int64
 21  gamma_GTP         991346 non-null  int64
 22  SMK_stat_type_cd  991346 non-null  int64
 23  DRK_YN            991346 non-null  object
dtypes: float64(5), int64(17), object(2)
memory usage: 181.5+ MB

In [4]:
# Generate Summary Statistics
df.describe()

,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,DBP,...,HDL_chole,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd
count,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,...,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000,991346.000000
mean,47.614491,162.240625,63.284050,81.233358,0.980834,0.978429,1.031495,1.030476,122.432498,76.052627,...,56.936800,113.037692,132.141751,14.229824,1.094224,0.860467,25.989308,25.755051,37.136347,1.608122
std,14.181339,9.282957,12.514241,11.850323,0.605949,0.604774,0.174650,0.171892,14.543148,9.889365,...,17.238479,35.842812,102.196985,1.584929,0.437724,0.480530,23.493386,26.308599,50.424153,0.818507
min,20.000000,130.000000,25.000000,8.000000,0.100000,0.100000,1.000000,1.000000,67.000000,32.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.100000,1.000000,1.000000,1.000000,1.000000
25%,35.000000,155.000000,55.000000,74.100000,0.700000,0.700000,1.000000,1.000000,112.000000,70.000000,...,46.000000,89.000000,73.000000,13.200000,1.000000,0.700000,19.000000,15.000000,16.000000,1.000000
50%,45.000000,160.000000,60.000000,81.000000,1.000000,1.000000,1.000000,1.000000,120.000000,76.000000,...,55.000000,111.000000,106.000000,14.300000,1.000000,0.800000,23.000000,20.000000,23.000000,1.000000
75%,60.000000,170.000000,70.000000,87.800000,1.200000,1.200000,1.000000,1.000000,131.000000,82.000000,...,66.000000,135.000000,159.000000,15.400000,1.000000,1.000000,28.000000,29.000000,39.000000,2.000000
max,85.000000,190.000000,140.000000,999.000000,9.900000,9.900000,2.000000,2.000000,273.000000,185.000000,...,8110.000000,5119.000000,9490.000000,25.000000,6.000000,98.000000,9999.000000,7210.000000,999.000000,3.000000

In [5]:
# Check for Missing Values

# df.isna() returns a DataFrame of the same shape as df,
# where each element is True if the corresponding element in df is missing (null or NaN), and False otherwise.

if df.isna().any().any():    
    print("There are missing values in the dataset.")
else:
    print("There are no missing values in the dataset.")

There are no missing values in the dataset.

#### Pandas Profiling

In [6]:
# Create a Pandas Profiling Report
profile = ProfileReport(df, title='Pandas Profiling Report', explorative=True)

# Generate the Report to an HTML File
profile.to_file("Report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

#### Remove Outliers
Detecting Outliers:
Sorting,
Graphing,
Z-score,
Density-based techniques,
Boxplots,
Inter Quantile Range(IQR)

Treating Outliers:
Trimming,
Capping,
Replacing(Mean/Median)

In [7]:
# Remove Outliers
# Function to Remove Outliers using the IQR Method
def remove_outliers_iqr(column):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    threshold = 3.5
    IQR = Q3 - Q1
    lower_bound = Q1 - threshold * IQR
    upper_bound = Q3 + threshold * IQR
    return column[(column >= lower_bound) & (column <= upper_bound)]

# Apply the Function to each Numerical Column in the DataFrame
numerical_columns = df.select_dtypes(include=[np.number]).columns  # Select Numerical Columns
for col in numerical_columns:
    df[col] = remove_outliers_iqr(df[col])

df.dropna(inplace=True)

# Remove Duplicates
df = df.drop_duplicates()

df

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75.0,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1,Y
1,Male,30,180,80.0,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3,N
2,Male,40,165,75.0,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1,N
3,Male,50,175,80.0,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1,N
4,Male,50,165,60.0,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991341,Male,45,175,80.0,92.1,1.5,1.5,1.0,1.0,114.0,...,125.0,132.0,15.0,1.0,1.0,26.0,36.0,27.0,1,N
991342,Male,35,170,75.0,86.0,1.0,1.5,1.0,1.0,119.0,...,84.0,45.0,15.8,1.0,1.1,14.0,17.0,15.0,1,N
991343,Female,40,155,50.0,68.0,1.0,0.7,1.0,1.0,110.0,...,77.0,157.0,14.3,1.0,0.8,30.0,27.0,17.0,3,Y
991344,Male,25,175,60.0,72.0,1.5,1.0,1.0,1.0,119.0,...,73.0,53.0,14.5,1.0,0.8,21.0,14.0,17.0,1,N
991345,Male,50,160,70.0,90.5,1.0,1.5,1.0,1.0,133.0,...,153.0,163.0,15.8,1.0,0.9,24.0,43.0,36.0,3,Y

In [8]:
df['DRK_YN'] = df['DRK_YN'].map({'Y': 1, 'N': 0})
df['sex'] = df['sex'].map({'Male': 1, 'Female': 0})
df

C:\Users\ROG\AppData\Local\Temp\ipykernel_9104\2943400028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DRK_YN'] = df['DRK_YN'].map({'Y': 1, 'N': 0})
C:\Users\ROG\AppData\Local\Temp\ipykernel_9104\2943400028.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex'] = df['sex'].map({'Male': 1, 'Female': 0})

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,1,35,170,75.0,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1,1
1,1,30,180,80.0,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3,0
2,1,40,165,75.0,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1,0
3,1,50,175,80.0,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1,0
4,1,50,165,60.0,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991341,1,45,175,80.0,92.1,1.5,1.5,1.0,1.0,114.0,...,125.0,132.0,15.0,1.0,1.0,26.0,36.0,27.0,1,0
991342,1,35,170,75.0,86.0,1.0,1.5,1.0,1.0,119.0,...,84.0,45.0,15.8,1.0,1.1,14.0,17.0,15.0,1,0
991343,0,40,155,50.0,68.0,1.0,0.7,1.0,1.0,110.0,...,77.0,157.0,14.3,1.0,0.8,30.0,27.0,17.0,3,1
991344,1,25,175,60.0,72.0,1.5,1.0,1.0,1.0,119.0,...,73.0,53.0,14.5,1.0,0.8,21.0,14.0,17.0,1,0
991345,1,50,160,70.0,90.5,1.0,1.5,1.0,1.0,133.0,...,153.0,163.0,15.8,1.0,0.9,24.0,43.0,36.0,3,1

In [9]:
df.describe()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
count,812808.000000,812808.000000,812808.000000,812808.000000,812808.000000,812808.000000,812808.000000,812808.0,812808.0,812808.000000,...,812808.000000,812808.000000,812808.000000,812808.0,812808.000000,812808.000000,812808.000000,812808.000000,812808.000000,812808.000000
mean,0.505184,46.693727,162.146909,62.650017,80.395684,0.964149,0.961481,1.0,1.0,121.470282,...,113.362113,120.146400,14.163037,1.0,0.843488,23.585759,22.412170,28.436825,1.572929,0.492365
std,0.499973,13.912102,9.229772,12.144865,9.386351,0.339346,0.337551,0.0,0.0,14.117634,...,33.575489,69.596899,1.554762,0.0,0.195961,7.396845,11.935693,20.001477,0.806089,0.499942
min,0.000000,20.000000,130.000000,25.000000,27.000000,0.100000,0.100000,1.0,1.0,70.000000,...,1.000000,1.000000,5.500000,1.0,0.100000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,35.000000,155.000000,55.000000,74.000000,0.700000,0.700000,1.0,1.0,111.000000,...,90.000000,71.000000,13.100000,1.0,0.700000,19.000000,14.000000,15.000000,1.000000,0.000000
50%,1.000000,45.000000,160.000000,60.000000,80.000000,1.000000,1.000000,1.0,1.0,120.000000,...,111.000000,102.000000,14.200000,1.0,0.800000,22.000000,19.000000,22.000000,1.000000,0.000000
75%,1.000000,55.000000,170.000000,70.000000,87.000000,1.200000,1.200000,1.0,1.0,130.000000,...,135.000000,149.000000,15.300000,1.0,1.000000,27.000000,27.000000,35.000000,2.000000,1.000000
max,1.000000,85.000000,190.000000,120.000000,130.000000,2.500000,2.500000,1.0,1.0,197.000000,...,295.000000,460.000000,22.700000,1.0,2.000000,59.000000,78.000000,119.000000,3.000000,1.000000

#### Pandas Profiling

In [10]:
# Create a Pandas Profiling Report
profile = ProfileReport(df, title='Pandas Profiling Report', explorative=True)

# Generate the Report to an HTML File
profile.to_file("After_Report.html")

C:\Users\ROG\AppData\Roaming\Python\Python311\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Model Training
#### Target Variables: 'SMK_stat_type_cd', 'DRK_YN'

In [ ]:
# Specify the Target Variables
target_variable1 = 'SMK_stat_type_cd'
target_variable2 = 'DRK_YN'

# Split the Data into Features (X) and Target Variables (y1 and y2)
X = df.drop(columns=[target_variable1, target_variable2])
y1 = df[target_variable1]
y2 = df[target_variable2]

# Split the Data into Training and Testing Sets
X_train, X_test, y1_train, y1_test, y2_train, y2_test = train_test_split(X, y1, y2, test_size=0.2, random_state=42)

# Standardize the Features (Optional)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Function to Train and Evaluate a Model
def train_and_evaluate_model(model, X_train, y_train, X_test, y_test):
    start_time = time.time()
    model.fit(X_train, y_train)
    training_time = time.time() - start_time

    start_time = time.time()
    predictions = model.predict(X_test)
    prediction_time = time.time() - start_time

    accuracy = accuracy_score(y_test, predictions)

    print(f"Model: {model}")
    print(f"Accuracy: {accuracy}")
    print(f"Training Time: {training_time} seconds")
    print(f"Prediction Time: {prediction_time} seconds")
    print(f"Memory Usage: {sys.getsizeof(model)} bytes")
    print("\n")

models = {
    "Logistic Regression": LogisticRegression(),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "SVM": SVC(),
    "K-Nearest Neighbors": KNeighborsClassifier(),
    "Naive Bayes": MultinomialNB(),
    "Neural Network (MLP)": MLPClassifier(),
}

print("SMK_stat_type_cd")
for model_name, model in models.items():
    train_and_evaluate_model(model, X_train, y1_train, X_test, y1_test)

print("DRK_YN")
for model_name, model in models.items():
    train_and_evaluate_model(model, X_train, y2_train, X_test, y2_test)

### Train Models (Sequential Cross Validation)
#### Target Variables: 'SMK_stat_type_cd', 'DRK_YN'

In [35]:
# Dependent and Independent Variables
X = df.drop(['SMK_stat_type_cd', 'DRK_YN'], axis=1)  # Drop the two target variables
y1 = df['SMK_stat_type_cd']  # First target variable
y2 = df['DRK_YN']  # Second target variable

# Function to Train and Evaluate a Model using Sequential Cross-Validation
def train_and_evaluate_model(model_name, model, X, y, task_name, n_splits):
    start_time = time.time()
    accuracy_scores = []

    for train_idx, test_idx in sequential_cross_validation(X, n_splits):
        X_train, X_test = X.iloc[train_idx], X.iloc[test_idx]
        y_train, y_test = y.iloc[train_idx], y.iloc[test_idx]

        model.fit(X_train, y_train)
        predictions = model.predict(X_test)
        accuracy = accuracy_score(y_test, predictions)
        accuracy_scores.append(accuracy)

    training_time = time.time() - start_time  
    
    print(f"Task: {task_name}")
    print(f"Model: {model}")
    print(f"Average Accuracy: {sum(accuracy_scores) / len(accuracy_scores)}")
    print(f"Training Time: {training_time} seconds")
    print(f"Memory Usage: {sys.getsizeof(model)} bytes")
    print("\n")

# Function for Sequential Cross-Validation
from sklearn.model_selection import TimeSeriesSplit

def sequential_cross_validation(X, n_splits):
    tscv = TimeSeriesSplit(n_splits=n_splits)
    for train_idx, test_idx in tscv.split(X):
        yield train_idx, test_idx

In [39]:
train_and_evaluate_model("Decision Tree", DecisionTreeClassifier(), X, y1, "SMK_stat_type_cd", 5)
train_and_evaluate_model("Decision Tree", DecisionTreeClassifier(), X, y2, "DRK_YN", 5)

Task: SMK_stat_type_cd
Model: DecisionTreeClassifier()
Average Accuracy: 0.6294977411639648
Training Time: 46.05682611465454 seconds
Memory Usage: 56 bytes


Task: DRK_YN
Model: DecisionTreeClassifier()
Average Accuracy: 0.6289559157882304
Training Time: 42.18070435523987 seconds
Memory Usage: 56 bytes

In [11]:
train_and_evaluate_model("Random Forest", RandomForestClassifier(), X, y1, "SMK_stat_type_cd", 5)
train_and_evaluate_model("Random Forest", RandomForestClassifier(), X, y2, "DRK_YN", 5)

NameError: name 'train_and_evaluate_model' is not defined

In [ ]:
train_and_evaluate_model("SVM", SVC(), X, y1, "SMK_stat_type_cd", 5)
train_and_evaluate_model("SVM", SVC(), X, y2, "DRK_YN", 5)

In [ ]:
train_and_evaluate_model("K-Nearest Neighbors", KNeighborsClassifier(), X, y1, "SMK_stat_type_cd", 5)
train_and_evaluate_model("K-Nearest Neighbors", KNeighborsClassifier(), X, y2, "DRK_YN", 5)

In [ ]:
train_and_evaluate_model("Naive Bayes", MultinomialNB(), X, y1, "SMK_stat_type_cd", 5)
train_and_evaluate_model("Naive Bayes", MultinomialNB(), X, y2, "DRK_YN", 5)

In [ ]:
train_and_evaluate_model("Neural Network (MLP)", MLPClassifier(), X, y1, "SMK_stat_type_cd", 5)
train_and_evaluate_model("Neural Network (MLP)", MLPClassifier(), X, y2, "DRK_YN", 5)

In [ ]:
#train_and_evaluate_model("Logistic Regression", LogisticRegression(), X, y1, "SMK_stat_type_cd", 1000)
#train_and_evaluate_model("Logistic Regression", LogisticRegression(), X, y2, "DRK_YN", 1000)

# Function to Train and Evaluate Model using Sequential Cross-Validation
def logistic_regression_model(model, X, y, task_name):
    start_time = time.time()
    accuracy_scores = []

    tscv = TimeSeriesSplit(n_splits=5)
    
    for train_idx, test_idx in tscv.split(X):
        X_train, X_test = X.iloc[train_idx], X.iloc[test_idx]
        y_train, y_test = y.iloc[train_idx], y.iloc[test_idx]
        
        scaler = StandardScaler()
        X_train_scaled = scaler.fit_transform(X_train)
        X_test_scaled = scaler.transform(X_test)
        
        model.fit(X_train_scaled, y_train)
        predictions = model.predict(X_test_scaled)
        accuracy = accuracy_score(y_test, predictions)
        accuracy_scores.append(accuracy)

    training_time = time.time() - start_time

    print(f"Task: {task_name}")
    print(f"Average Accuracy: {sum(accuracy_scores) / len(accuracy_scores)}")
    print(f"Training Time: {training_time} seconds")
    print(f"Memory Usage: {sys.getsizeof(model)} bytes")
    print("\n")

# Initialize the Logistic Regression model
logistic_model = LogisticRegression(max_iter=1000)  # We can adjust max_iter as needed

logistic_regression_model(logistic_model, X, y1, "SMK_stat_type_cd")

logistic_regression_model(logistic_model, X, y2, "DRK_YN")

### Model Selection
Neural Network (MLP)

Pros: Less Time Consuming(GPU), High Accuracy

Cons: High Memory Usage